.banner {
    font-family: 'Notable', sans-serif;
    color: lightblue;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

body {
    background-image: url("stars.jpg");
    background-repeat: no-repeat;
}

.headerfont {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.moon {
    max-width: 30vw;
    max-height: 30vh;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mouse {
    display: block;
    max-height: 3rem;
    max-width: 3rem;
    margin-top: 0.5rem;
}

.panelmargin {
    margin: 2rem;
}

@media screen and (max-width: 991px) {
    main#large {
        display: none;
    }
}

@media (min-width: 992px) {
    main#insertion {
        display: none;
    }
}